.contaienr {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 70px;
}

.para {
    color: rgba(0, 0, 0, 0.495);
}

.para1 {
    color: rgb(244, 242, 242);
    background-color: rgb(95, 95, 255);
    width: 230px;
    height: 35px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para2 {
    color: black;
    background-color: rgb(235, 87, 87);
    width: 230px;
    height: 35px;
    border:none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5px;
}